[SddmGreeterTheme]
Name=NsaSddm
Description=NsaSddm Theme for SDDM
Author=spaceCabbage
Copyright=(c) 2025, lighttigerxiv
Type=sddm-theme
Version=1.2.1
Website=https://github.com/spaceCabbage/sddm
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=hudafreedman@@gmail.com
Theme-Id=nsasddm
Theme-API=2.0
QtVersion=6
